<script defer src="https://cdn.crop.guide/loader/l.js?c=LLMDRF"></script>
<section class="d-flex justify-content-center">
    <div class=" container m-5 d-flex justify-content-center" style="background-color:rgb(255, 255, 255) ; width: 500px;height: auto;border-radius: 25px;box-shadow: 100px;">
  <div class=" mt-5 "  >
        <div class="row">


            <div class="col-md-12">
                <form action="add-product" method="post" enctype="multipart/form-data">
                    <label for="">Name</label> <span id="nameerr" class="text-danger"></span>
                    <input type="text" name="Name" class="form-control" id="Name">
                    <span id="nameerr" class="text-danger"></span>
{{!-- ............................................................................................... --}}
                
                     <label for="">Catagory</label>
                    {{!-- <input type="text" name="status" class="form-control" value="{{user.status}}"> --}}
                    <select name="Catagory" class="form-select" aria-label="Default select example">
                        <option>Catagory list</option>
                        {{#each item}}

                        <option value="{{this.Name}}">{{this.Name}}</option>
                        {{/each}}
                        <option value="block">block</option>

                    </select>

                    {{!--  ................................................................................... --}}
                    <label for="">Price</label><span id="priceerr" class="text-danger"></span>

                    <input type="text" name="Price" class="form-control" id="price">
                    
                    <label for="">Description</label> <span id="descripitonerr" class="text-danger"></span>
                    <input type="text" name="Description" class="form-control" id="descripiton">

                   

                    <label for="">Image</label>
                    <input type="file" name="Image" class="form-control" id="img" multiple>

                    {{!-- <label for="">Image</label>
                    <input type="file" name="Image2" class="form-control mb-2" id="img2"> --}}

                    <button type="submit" class="btn btn-success mt-4 mb-4" onclick="return validation()">Submit</button>
                    {{#if imgErr}}
                    <p class="text-danger">{{imgErr}}</p>
                    {{/if}}
                </form>
            </div>
        </div>
    </div>
    </div>

  
</section>



{{!-- ............................................................................ --}}
<script>
    var errorName = document.getElementById('nameerr')
    var priceerr = document.getElementById('priceerr')
    var descripiton = document.getElementById('descripitonerr')
    function validateName() {
        const name = document.getElementById('Name').value;
        if (name == "") {
            errorName.innerHTML = 'Enter your Name'
            return false
        }
        if (!name.match(/^[a-z A-Z]*$/)) {
            errorName.innerHTML = 'alhpabets are only allowed'
            return false
        }
        errorName.innerHTML = null
        return true

    }


    
    function validprice() {
        const price = document.getElementById('price').value

        if (price == "") {
            priceerr.innerHTML = "Cant be empty"

            return false

        }
         if (!price.match(/^[0-9]*$/)) {
            priceerr.innerHTML = 'Number are only allowed'
            return false
        }
      
        priceerr.innerHTML = null
        return true

    }
    function discripiton() {
        const dis = document.getElementById('descripiton').value
        if (dis == "") {
            descripiton.innerHTML = "Cannot be empty"
            return false
        }
        descripiton.innerHTML = null
        return true


    }


    function validation() {
        if (!validateName()||!validprice() ||!discripiton() ) {
            return false
        }
        return true
    }
</script>
<style>
    body{
       
    }
</style>