<section>
<div class="coontainer">
<div class="image-banner image-fluid" >
    <img src="/images/istockphoto-1314651804-170667a.jpg" style="width: 100%;" alt="">
</div>

</div>
</section>

<style>
    li{
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>