<section>
<div class="coontainer">
<div class="image-banner image-fluid" >
    <img src="/images/istockphoto-1314651804-170667a.jpg" style="width: 100%;" alt="">
</div>
<div>
    <a href="admin/all-user"> All users</a>
   <a href="admin/view-catagory"> view catagory</a>
   <a href="admin/add-product"> add product</a>
   <a href="admin/view-product"> view product</a>
</div>
</div>
</section>