<section>
    <div class="row container">
        <div class="col-6 d-flex flex-column shadow-lg p-4 mb-5 bg-body rounded border border-dark">
            <div class="row m-4">
                <div class="col-5">Sales Report</div>
                <div class="col-5"><a href="/documents/{{path}}" class="btn btn-success">Download</a></div>
            </div>
            {{!-- <div class="row m-4">
                <div class="col-5">Excel Sheet</div>
                <div class="col-5"><a href="/documents/{{xlpath}}" class="btn btn-success">Download</a></div>
            </div> --}}
            {{!-- <div class="row m-4">
                <div class="col-5">Last week</div>
                <div class="col-5"><a href="" class="btn btn-success">Download</a></div>
            </div>
            <div class="row m-4">
                <div class="col-5">Today</div>
                <div class="col-5"><a href="" class="btn btn-success">Download</a></div>
            </div> --}}
        </div>
    </div>
</section>