<section class="d-flex justify-content-center">
    <div class="container  m-5 d-flex justify-content-center"
        style="background-color:rgb(218, 218, 218) ; width: 700px;height: auto;border-radius: 25px;box-shadow: 100px;">
        <div class="row">

            <div class=" col-md-12">
                <h2 class="text-center">
                    Change password
                </h2>
                <p class="text-danger">{{status}}</p>
                <form action="/change-password" method="post" style="width: 500px;">
     
                    <input type="text" name="Email" class="form-control" value="{{user.Email}}" hidden>

                    <label for="">Old Password</label>
                    <input type="text" name="oldpassword" class="form-control">
                    <label for="">New Password</label>
                    <input type="password" name="newpassword" class="form-control" id="newPassword">
                    <label for="">Confirm Password</label>
                    <input type="password"  class="form-control" id="confirmPassword">








                    <button type="submit" class="btn btn-success my-4" onclick="return Confirm()"> Submit
                    </button>

                </form>
            </div>
        </div>
    </div>
</section>
<script>



    function Confirm() {
        let newPassword = document.getElementById("newPassword").value
        let confirmPasswords = document.getElementById("confirmPassword").value
    
        if (newPassword == confirmPasswords) {
            return true
        }
        Swal.fire(
            'Passwords are not matched',
            'You clicked the button!',
            'error'
        )
        return false



    }
</script>