<section>
<div class="coontainer">
<div class="image-banner image-fluid" >
    <img src="/images/plain-home-page-banner-desktop-view_27_7_2022_1920x639.jpg" style="width: 100%;" alt="">
</div>
</div>
</section>