<div class="div">
   <a href="/"> <img src="/images/order.webp" alt=""> </a>
</div>
<style>
   .div{
        
      
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>